<script type="text/x-template" id="product-item">
  <div v-on:mouseenter="showBtn" v-on:mouseleave="hideBtn" class="col-md-3 col-xs-4">
    <div data-product-name="{{ product.name }}" class="product-card">
      <a href="#" class="product-card-image-container">
        <div v-if="product.sold_out" class="out-of-stock">OUT OF STOCK</div>
        <img class="product-card-image ga-image-ready" src="https://static-reg.lximg.com/images/pictures/47569/zoom_e6cc572c9d9a6101ccdc4f84426af247a207285d_1493220447_KVD_LockIt_Foundation_Medium_57_warm_WEB.jpg" lazy="loaded">
      </a>

      <div v-if="hover">
        <div>
          <div v-on:click="wishlist">
            <div v-if="wishlisted" class="product-card-heart-filled"></div>
            <div v-else class="product-card-heart"></div>
          </div>
        </div>
        <div class="product-card-actions">
          <div v-if="product.sold_out" @click="waitlist">
            <div v-if="waitlisted"><button  class="btn btn-sm btn-block btn-default product-card-wait-listed">Waitlisted</button></div>
            <div v-else><button class="btn btn-sm btn-block btn-default product-card-add-to-wait-list">Waitlist me</button></div>
          </div>
          <div v-else><button class="btn btn-sm btn-block btn-danger product-card-add-to-bag">Add To Bag</button></div>
        </div>
      </div>

      <a href="#" class="product-card-description-container">
        <div class="product-card-description">
          <p class="product-card-label-new-arrival">NEW</p>
          <p class="product-card-brand">{{ product.name }}</p>
          <p class="product-card-product">{{ product.category }}</p>
          <div>
             <p class="product-card-price">{{ product.price }}</p>
          </div>
          <div class="product-card-rating rating-container">
             <div data-rateit-resetable="false" data-rateit-readonly="true" data-rateit-starwidth="14.7" data-rateit-starheight="12" data-rateit-value="4" data-rateit-ispreset="true" class="product-rating rateit">
                <div class="rateit-reset" style="display: none;"></div>
                <div class="rateit-range" style="width: 73.5px; height: 12px;">
                   <div class="rateit-selected rateit-preset" style="height: 12px; width: 58.8px;"></div>
                   <div class="rateit-hover" style="height:12px"></div>
                </div>
             </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-1 col-xs-0"/>
</script>


<h1>HAPPY SHOP</h1>

<div id="products">
  <div class="row">
    <div class="col-md-3 col-md-offset-0 col-xs-10 col-xs-offset-1">
      <div class="col-md-offset-3">
        <div class="form-group">
          <label for="orientation">Sort</label>
          <select class="form-control" id="orientation" v-model="orientation" @change="filter">
            <option class="form-option" value="asc" selected>Price: Low to High</option>
            <option class="form-option" value="desc">Price: High to Low</option>
          </select>
        </div>

        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control" id="category" v-model="category" @change="filter">
            <option class="form-option" value="all" selected>All</option>
            <option class="form-option" value="makeup">Makeup</option>
            <option class="form-option" value="tools">Tools</option>
            <option class="form-option" value="brushes">Brushes</option>
          </select>
        </div>

        <div class="form-group">
          <label for="lower_price">Lower Price</label>
          <input type="number" step=".01" class="form-control" id="lower_price" placeholder="0.00" v-model.number="lower_price" @change="filter">
        </div>

        <div class="form-group">
          <label for="upper_price">Upper Price</label>
          <input type="number" step=".01" class="form-control" id="upper_price" placeholder="100.00" v-model.number="upper_price" @change="filter">
        </div>
      </div>
    </div>

    <div class="col-md-9 col-xs-12">
      <div class="col-md-12 col-xs-12 pagination">
        <div class="pull-right">
          <button @click="previousPage" class="btn btn-default">Previous</button>
          <span class="page-span">Page {{ pagination.page }} of {{ pagination.total_pages}} - Showing {{ pagination.per_page }} out of {{ pagination.count}} items</span>
          <button @click="nextPage" class="btn btn-default">Next</button>
        </div>
      </div>
      
      <div
        is="product-item"
        v-for="product in products"
        :product="product">
      </div>
    </div>
  </div>
</div>
